<div class="containter" style="text-align: center">
        <h3 class="identity">Croupier ({{this.cartaData.puntajeDealer}})</h3>
        <div class="row">
                <ng-container *ngFor="let dealerCard of this.cartaData.cartasDealer">
                    <div class="col-sm">
                     <app-carta [urlCarta]="'./assets/cartas/' + dealerCard + '.png'"></app-carta>
                    </div>
                </ng-container>
        </div>
        <br>
        <h3 class="identity">Jugador: ({{this.cartaData.puntajeJugador}})</h3>
        <div class="row">
                <ng-container *ngFor="let cartaJugador of this.cartaData.cartasJugador">
                    <div class="col-sm">
                        <app-carta [urlCarta]="'./assets/cartas/' + cartaJugador + '.png'"></app-carta>
                    </div>
            </ng-container>
        </div>
        <br>
        <app-botones></app-botones>
</div>